<h1>GIT RRR DONE</h1><!DOCTYPE html>
<html>
<head>
	<title>Sample Drag And Drop</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/script.js" defer></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<!-- <source src="main.js" type=""> -->
</head>

<body>

	<div class='container'>

		<div class="row">
			<div class="col-md-6">
				<!-- <h1>Time: <span id="timer"><span id="minutes"></span>:<span id="seconds"></span></span></h1> -->
				<h1>Time: <span id="timer"><span id="my_timer">00:00:00</span></span></h1>

			</div>
			<div class="col-md-2">
			<h4>(Optional) Space Bank for organizing pieces</h4>
			</div>
			<div class="col-md-1">
			<div class="slot"></div>
			</div>
			<div class="col-md-1">
			<div class="slot"></div>
			</div>
			<div class="col-md-1">
			<div class="slot"></div>
			</div>
			<!-- Use below for scalability -->
			<!-- <span style="background-position: 0px 0px;"></span> -->
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Your Pieces</h3>
				<div id="grid1"></div>
			</div>
			<div class="col-md-6">
				<h3>Build Here</h3>
				<div id="grid2"></div>
			</div>

		</div>


	</div>




	

</body>
</html>
